{% extends 'base.html.twig' %}
{% block title %}{{titulo}}{% endblock %}
{% block body %}
<h1>{{ titulo }}</h1>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('fipe_adicionar')}}" class="btn btn-primary">+ Adicionar</a>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <td>Código Fipe</td>             
            <td>Valor</td>
            <td>Cidade</td>
            <td>Historico</td>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <td>Ações</td>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for fipe in tabelas %}
        <tr>
            <td>{{ fipe.codigo }}</td>
            <td>{{ fipe.valor }}</td>
            <td>{{ fipe.cidade }}</td>
            <td>{{ fipe.historico | date('Y-m-d') }} </td>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <td>
                <a href="{{ path('fipe_editar', {id: fipe.id})}}" class="btn btn-primary">Editar</a>
                <a href="{{ path('fipe_excluir', {id: fipe.id})}}" class="btn btn-primary">Excluir</a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}